{% extends 'base.html' %}
{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'media_app/css/media_app.css' %}">
{% endblock %}
{% block content %}
<div class="container content-container">
    <h1 class="page-header header-font text-center">{{ single.title }}</h1>
    <a href="{% url 'album_singles' single.album.id %}"><i class="fas fa-backward"></i> Back to album</a>
    <div class="row">
        <div class="col video-container pt-1 pt-sm-2 pt-md-3">
            <iframe id="iFrame" height="" class="w-100" src="{{ single.video_url }}" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="row row-eq-height justify-content-center shop-spotify-links pt-3">
        <div class="col-6 col-sm-4">
            <a href="{% url 'shop_detail' 'album' single.album.id %}">
                <div class="custom-border text-center">
                    <i class="fas fa-shopping-cart icons py-3"></i>
                    <p>View album <br class="d-sm-none"> in shop.</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4">
            <a href="{{ single.spotify_url }}" target="_blank">
                <div class="custom-border text-center">
                    <i class="fab fa-spotify icons py-3"></i>
                    <p>Listen on <br class="d-sm-none"> Spotify.</p>
                </div>
            </a>
        </div>
    </div>
    <!-- COMMENTS SECTION - Rendered in media_app.js -->
    <h4 class="header-font my-3">Comments</h4>
    <div id="single-id" class="d-none">{{ single.id }}</div>
    <div id="comment-section"></div>
    <!-- ADD COMMENT SECTION -->
    <hr>
    <h4 class="header-font my-3">Add comment</h4>
    {% if user.is_authenticated %}
    <div class="row no-gutters">
        <div class="col-2 col-md-1">
            <img class="profile-pic" src="{{ MEDIA_URL }}{{ user.profile.image.url }}" alt="">
        </div>
        <div class="col-10">
            <textarea name="text" id="add-comment-input"></textarea>
            <button onclick="addComment({{single.id }}, {{ request.user.id }})"
                class="btn custom-btn btn-outline-dark">Add Comment</button>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12 text-center">
            <p><strong>You must be logged in to add a comment! <a href="{% url 'account_signup' %}">Click here to register</a>
                or
                <a href="{% url 'account_login' %}">sign in here.</a></strong></p>
        </div>
    </div>
    {% endif %}
</div>
<div>{% csrf_token %}</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'media_app/js/media_app.js' %}"></script>
{% endblock %}