{% extends 'base.html' %}
{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'media_app/css/media_app.css' %}">
{% endblock %}
{% block content %}
<div class="container content-container">
    <h1 class="page-header header-font text-center">{{ single.title }}</h1>
    <a href="{% url 'album_singles' single.album.slug %}"><i class="fas fa-backward"></i> Back to album</a>
    {% if user.is_staff %}
    <div class="row">
        <div class="col-12 custom-border p-2 my-3">
            <h6 class="header-font text-center">Would you like to edit or delete this single?</h6>
            <div class="d-flex justify-content-center">
                <a href="{% url 'edit_single' single.slug %}" class="btn btn-dark custom-btn mr-2">
                    Edit Single</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn custom-btn btn-danger btn-sm custom-btn ml-2" data-toggle="modal"
                    data-target="#delete-single-modal">
                    Delete Single
                </button>
            </div>
        </div>
    </div>
    <!-- Delete Product Modal -->
    <div class="modal fade" id="delete-single-modal" tabindex="-1" role="dialog" aria-labelledby="delete-item"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body custom-modal text-center">
                    Are you sure you want to delete<br>
                    <strong>{{ single.title }}</strong><br>
                    from the database? This action cannot be undone!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn custom-btn btn-sm btn-dark custom-btn"
                        data-dismiss="modal">BACK</button>
                    <a href="{% url 'delete_single' single.slug %}"
                        class="btn custom-btn btn-sm btn-danger custom-btn">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col video-container pt-1 pt-sm-2 pt-md-3">
            <iframe id="iFrame" height="" class="w-100" src="{{ single.video_url }}" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="row row-eq-height justify-content-center shop-spotify-links pt-3">
        <div class="col-6 col-sm-4">
            <a href="{% url 'shop_detail' 'album' single.album.slug %}">
                <div class="custom-border text-center">
                    <i class="fas fa-shopping-cart icons py-2 py-sm-3"></i>
                    <p class="mb-2 mb-sm-3">View album<br class="d-sm-none"> in shop.</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4">
            <a href="{{ single.spotify_url }}" target="_blank">
                <div class="custom-border text-center">
                    <i class="fab fa-spotify icons py-2 py-sm-3"></i>
                    <p class="mb-2 mb-sm-3">Listen on<br class="d-sm-none"> Spotify.</p>
                </div>
            </a>
        </div>
    </div>
    <!-- ADD COMMENT SECTION -->
    <h4 class="header-font my-3">Add comment</h4>
    {% if user.is_authenticated %}
    <div class="row no-gutters">
        <div class="col-2 col-md-1">
            <img class="profile-pic" src="{{ user.profile.image.url }}" alt="">
        </div>
        <div class="col-10 col-md-11">
            <textarea name="text" id="add-comment-input"></textarea>
            <p id="add-comment-errors" class="text-danger mb-1"></p>
            <button onclick="addComment({{single.id }}, {{ request.user.id }})"
                class="btn custom-btn btn-outline-dark">Add Comment</button>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12 text-center">
            <p><strong>You must be logged in to add a comment! <a href="{% url 'account_signup' %}">Click here to
                        register</a> or <a href="{% url 'account_login' %}">sign in here.</a></strong></p>
        </div>
    </div>
    {% endif %}
    <!-- COMMENTS SECTION - Rendered in media_app.js -->
    <h4 class="header-font my-3">Comments</h4>
    <div id="single-id" class="d-none">{{ single.id }}</div>
    <div id="comment-section"></div>
</div>
<div>{% csrf_token %}</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'media_app/js/media_app.js' %}"></script>
{% endblock %}