{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}
<div class="bg-overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 welcome-container">
            <h1 id="welcome-text" class="my-auto">
                
            </h1>
            <i class="fas fa-angle-down mt-auto"></i>
        </div>
    </div>
    <div class="row justify-content-center mb-2 mb-md-3 mb-lg-4">
        <div class="col-12 col-lg- portal-section text-white text-center my-auto">
            <div class="portal-section-content h-100 d-flex flex-column justify-content-around py-3">
                <h2 class="header-font mt-2">Enter the Portal</h2>
                <p>Connect with the band in a whole new way.</p>
                <p>Subscribe to Portal to gain access to exclusive content as well as a discount in the online shop</p>
                <a href="{% url 'portal_info' %}" class="btn custom-btn btn-dark mb-4 mt-2 mx-auto nav-font">FIND OUT MORE</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}