<!-- Custom Clearable File widget modified from Boutique Ado project -->
<p class="mb-2">Profile Picture</p>
{% if widget.is_initial and widget.value != 'profile_pics/default_profile_pic.jpg' %}
    <a href="{{ widget.value.url }}">
        <img id="profile-pic" class="mw-100" src="{{ widget.value.url }}" alt="Profile picture">
    </a>
    <div class="custom-control custom-checkbox mt-2">
        <input class="custom-control-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
        <label class="custom-control-label d-inline" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        <span class=" text-muted">(Image will be removed on form submission)</span>
    </div>
    {{ widget.input_text }}
    <div>
        <p class="mb-2 mt-3">Select new image</p>
        <label for="{{ widget.name }}" class="btn btn-dark custom-btn">Choose file</label>
        <input id="{{ widget.name }}" class="hidden-input" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
        <p class="text-muted"><strong id="filename"></strong></p>
    </div>
{% else %}
<div>
    <label for="{{ widget.name }}" class="btn btn-dark custom-btn">Choose file</label>
    <input id="{{ widget.name }}" class="hidden-input" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    <p class="text-muted"><strong id="filename"></strong></p>
</div>
{% endif %}
