.welcome-container {
    min-height: calc(100vh - 50px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-anchor: none;
}

.big-welcome-text {
    font-size: 9rem !important;
}

.welcome-container h1 {
    font-family: radio, Impact, sans-serif;
    font-size: 5.5rem;
    line-height: 140px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 70px;
    font-display: block;
}

.welcome-container i{
    font-size: 4rem;
    justify-self: flex-end;
}

.portal-section {
    background-image: url("/media_files/portal-bg.jpg");
    border-radius: 30px;
    background-position: -90px center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.portal-section-content {
    margin-left: 25%;
}

.portal-section h2 {
    font-size: 3rem
}

.portal-section p {
    font-size: 1.2rem;
}

.d-hidden {
    visibility: hidden;
}

/*---------------------------------------------------------------------------------MEDIA QUERIES--*/
@media only screen and (min-width: 400px) {
    .welcome-container h1 {
        font-size: 6.5rem;
    }
    .big-welcome-text {
        font-size: 9.5rem !important;
    }
    .portal-section {
        background-position: -60px;
    }
}

@media only screen and (min-width: 576px) {
    .welcome-container{
        height: calc(100vh - 56px);
    }
    .welcome-container h1 {
        font-size: 7rem;
    }
    .portal-section {
        background-position: -30px;
        max-width: 550px;
    }
}

@media only screen and (min-width: 768px) {
    .welcome-container h1 {
        font-size: 12rem;
    }
    .big-welcome-text {
        font-size: 13rem !important;
    }
    .portal-section {
        background-position: -30px;
        max-width:600px;
    }
    .portal-section p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .welcome-container h1 {
        font-size: 14rem;
    }
    .big-welcome-text {
        font-size: 16rem !important;
    }
    .portal-section {
        background-position: -20px;
        max-width: 700px;
    }
    .portal-section-content {
        margin-left: 35%;
    }
}

@media only screen and (min-width: 1200px) {
    .welcome-container h1 {
        font-size: 16rem;
    }
    .big-welcome-text {
        font-size: 20rem !important;
    }
    .portal-section {
        max-width: 900px;
    }
    .portal-section-content {
        margin-left: 30%;
    }
}