{% extends 'base.html' %}
{% block extra_meta %}
<title>The Home of Radiohead - Add Post</title>
{% endblock %}
{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'portal/css/portal.css' %}">
{% endblock %}
{% block content %}
<div class="container content-container">
    <div class="row">
        <div class="col-12">
            {% if post_type == 'images_post' %}
            <h1 class="header-font page-header text-center">Add Images Post</h1>
            <p class="text-center">Images Posts are for posts which contain multiple images, as well as some
                text.</p>
            <p class="text-center">If the content contains a video as well as text,
                <a href="{% url 'add_portal_post' 'video_post' %}">add a video post</a>
            </p>
            <p class="text-center">If the content contains only text and a single image,
                <a href="{% url 'add_portal_post' 'text_post' %}">add a text post</a>
            </p>
            {% elif post_type == 'text_post' %}
            <h1 class="header-font page-header text-center">Add Text Post</h1>
            <p class="text-center">Text Posts are for posts which contain only text content, as well as a single lead
                image.</p>
            <p class="text-center">If the content contains multiple images as well as text,
                <a href="{% url 'add_portal_post' 'images_post' %}">add an images post</a>
            </p>
            <p class="text-center">If the content contains a video as well as text,
                <a href="{% url 'add_portal_post' 'video_post' %}">add a video post</a>
            </p>
            {% elif post_type == 'video_post' %}
            <h1 class="header-font page-header text-center">Add Video Post</h1>
            <p class="text-center">Video Posts are for posts which contain video content, as well as a single
                lead image and some text.</p>
            <p class="text-center">If the content contains multiple images as well as text,
                <a href="{% url 'add_portal_post' 'images_post' %}">add an images post</a>
            </p>
            <p class="text-center">If the content contains only text and a single image,
                <a href="{% url 'add_portal_post' 'text_post' %}">add a text post</a>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="{% url 'portal_content' %}"><i class="fas fa-backward my-3"></i> Back to Portal</a>
            <form action="{% url 'add_portal_post' post_type %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark custom-btn ">Add Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% if post_type == 'images_post' %}
<script src="{% static 'portal/js/images-post-file-text-renderer.js' %}"></script>
{% else %}
<!-- File name renderer modified from Boutique Ado project- CREDIT - Chris Zielinski -->
<script>
    $("#lead_image").change(function(){
        let file = $(this)[0].files[0];
        $(this).siblings("p").children("strong").first().text(`Image will be set to ${file.name}`);
    });
</script>
{% endif %}
{% endblock %}