{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container content-container">
    <h1 class="text-center header-font page-header">Welcome to Portal</h1>
    <p>Insert blurb about portal here along with image from home page</p>
    <!-- ENSURE THE USER IS SIGNED IN WITH AN EMAIL TO PASS TO THE INPUT BELOW -->
    {% if user.is_authenticated %}
    <a href="{% url 'create_portal_customer' %}">Sign Up</a>
    {% else %}
    <!-- ADD REGISTER/SIGN IN LINKS HERE -->
    {% endif %}
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'portal/js/stripe-elements.js' %}"></script>
{% endblock %}