{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container content-container">
    <h1 class="text-center header-font page-header">Radiohead Portal</h1>
    {% if user.is_staff %}
    <div class="row">
        <div class="col-12 custom-border p-2 mb-3">
            <h5 class="header-font text-center">Admin</h5>
            <p class="text-center">Click on an a post to edit or delete.</p>
            <div class="d-flex justify-content-center">
                <a href="{% url 'add_portal_post' 'text_post' %}" class="btn custom-btn btn-outline-dark mr-2 my-2">
                    Add Text Post</a>
                <a href="{% url 'add_portal_post' 'images_post' %}" class="btn custom-btn btn-outline-dark mx-2 my-2">
                    Add Images Post</a>
                <a href="{% url 'add_portal_post' 'video_post' %}" class="btn custom-btn btn-outline-dark ml-2 my-2">
                    Add Video Post</a>
            </div>
        </div>
    </div>
    {% else %}
    <p class="text-center">Welcome to the home of exclusive Radiohead content. Scroll though the archive or filter the
        items by their content type.</p>
    {% endif %}
    <form action="{% url 'portal_content' %}" method="POST"
        class="sort-by-form d-flex justify-content-center mb-3 mt-2">
        {% csrf_token %}
            <input type="submit" name="filter" value="all" class="btn custom-btn btn-outline-dark {% if filter == 'all' %} active {% endif %}">
            <input type="submit" name="filter" value="text" class="btn custom-btn btn-outline-dark {% if filter == 'text' %} active {% endif %}">
            <input type="submit" name="filter" value="videos" class="btn custom-btn btn-outline-dark {% if filter == 'videos' %} active {% endif %}">
            <input type="submit" name="filter" value="images" class="btn custom-btn btn-outline-dark {% if filter == 'images' %} active {% endif %}">
    </form>
    <hr>
    <div class="row">
        {% for post in posts %}
        <div class="col-12 col-md-6">
            {% if post.text %}
            <!-- TEXT POST -->
            <h3 class="header-font"><a href="{% url 'portal_post_detail' 'text_post' post.slug %}" class="text-dark">
                    {{ post.title }}</a></h3>
            <p class="text-muted">Posted on: {{ post.date_posted }}</p>
            <a href="{% url 'portal_post_detail' 'text_post' post.slug %}">
                <img src="{{ post.lead_image.url }}" alt="{{ post.lead_image_summary }}" class="mw-100">
            </a>
            <p>{{ post.post_blurb }} <a href="{% url 'portal_post_detail' 'text_post' post.slug %}">View more...</a></p>
            {% endif %}
            {% if post.video %}
            <!-- VIDEO POST -->
            <h3 class="header-font"><a href="{% url 'portal_post_detail' 'video_post' post.slug %}" class="text-dark">
                    {{ post.title }}</a></h3>
            <p class="text-muted">Posted on: {{ post.date_posted }}</p>
            <a href="{% url 'portal_post_detail' 'video_post' post.slug %}">
                <img src="{{ post.lead_image.url }}" alt="{{ post.lead_image_summary }}" class="mw-100">
            </a>
            <p>{{ post.post_blurb}} <a href="{% url 'portal_post_detail' 'video_post' post.slug %}">View more...</a></p>
            {% endif %}
            {% if post.images %}
            <!-- IMAGES POST -->
            <h3 class="header-font"><a href="{% url 'portal_post_detail' 'images_post' post.slug %}" class="text-dark">
                    {{ post.title }}</a></h3>
            <p class="text-muted">Posted on: {{ post.date_posted }}</p>
            <a href="{% url 'portal_post_detail' 'images_post' post.slug %}">
                <img src="{{ post.lead_image.url }}" alt="{{ post.lead_image_summary }}" class="mw-100">
            </a>
            <p>{{ post.post_blurb }} <a href="{% url 'portal_post_detail' 'images_post' post.slug %}">View more...</a>
            </p>
            {% endif %}
        </div>
        <!-- HR FOR LOOP LOGIC MODIFIED FROM BOUTIQUE ADO PROJECT -->
        {% if not forloop.last %}
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-md-none mb-2">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-md-block mb-3">
            <hr>
        </div>
        {% endif %}

        {% endif %}
        {% endfor %}
    </div>
        <!-- PAGINATION BUTTONS -->
        <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
                <form action="{% url 'portal_content' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name='filter' value="{{ filter }}">
                    {% if pagination_data.has_previous %}
                    <button type='submit' value="{{ pagination_data.previous_page }}" name="paginate"
                        class="btn custom-btn btn-outline-secondary">Previous</button>
                    {% else %}
                    <button class="btn custom-btn btn-outline-secondary" disabled>Previous</button>
                    {% endif %}
                    {% if pagination_data.has_next %}
                    <button type='submit' value="{{ pagination_data.next_page }}" name="paginate"
                        class="btn custom-btn btn-outline-secondary">Next</button>
                    {% else %}
                    <button class="btn custom-btn btn-outline-secondary" disabled>Next</button>
                    {% endif %}
                </form>
            </div>
        </div>
</div>
{% endblock %}