{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container content-container">
    <h1 class="text-center header-font page-header">Sign Up to Portal</h1>
    <form action="{% url 'checkout' %}" method="POST" id="signup-form" data-secret="{{ client_secret }}">
        {% csrf_token %}
            <legend class="header-font">Payment Details</legend>
            <div id="card-element" class="form-control"></div>
            <p id="card-errors" class="text-danger" role="alert"></p>
            <input type="hidden" value="{{ client_secret }}" name="client_secret">
        <!-- <p class="clear-font mb-1 mt-3 small-text-danger">Your card will be charged £{{ grand_total }}</p> -->
        <button id="card-button" class="btn btn-dark custom-btn" type="submit">Submit Payment</button>
    </form>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'portal/js/stripe-elements.js' %}"></script>
{% endblock %}