{% extends 'base.html' %}
{% block extra_meta %}
<title>The Home of Radiohead - Update Payment Card</title>
{% endblock %}
{% load static %}
{% block content %}
<div class="container content-container">
    <!-- LOADING OVERLAY -->
    <div id="loading-overlay" class="text-center">
        <div class="d-flex h-100 text-center flex-column justify-content-center align-items-center">
            <p class="header-font">Please wait...</p>
            <p class="header-font">Loading</p>
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading</span>
            </div>
        </div>
    </div>
    <h1 class="text-center header-font page-header">Update Card Details</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="{% url 'profile' %}"><i class="fas fa-backward"></i> Back to Profile</a>
            <form action="{% url 'profile' %}" method="POST" id="update-card-form">
                {% csrf_token %}
                <legend class="header-font">Payment Details</legend>
                <div id="card-element" class="form-control"></div>
                <p id="card-errors" class="text-danger" role="alert"></p>
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                <button id="update-button" class="btn btn-dark custom-btn" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ checkout_session_id|json_script:"id_checkout_session_id" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'portal/js/stripe-elements.js' %}"></script>
<script src="{% static 'portal/js/update-card.js' %}"></script>
{% endblock %}