{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container content-container">
    <h1 class="page-header header-font text-center">{{ profile.user.username }}'s Profile</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="header-font">Add or update your delivery details</h3>
            <form action="" method="POST" class="form-border pr-md-3" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn custom-btn btn-dark">Update</button>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <hr class="d-md-none">
            <h3 class="header-font ">Subscriptions</h3>
            {% if request.user.is_staff %}
            <!-- User is a staff member -->
            <p>You are currrently logged in as a staff member.</p>
            <p><a href="{% url 'portal_content' %}">Click here to view the Portal.</a></p>
            {% else %}
            {% if subscription_details %}
            <!-- User has an active subscription -->
            {% if reactivation_link %}
            <!-- The user has cancelled their subscription, render re-join link -->
            <p>Your Portal subscription is due to expire on {{ subscription_details.end_date }}.<br>
                Would you like to re-activate your subscription?</p>
            <p class="small-text text-danger  mb-1">By clicking the button below you agree to be charged 
                £{{ subscription_details.portal_price }} on a monthly basis until cancellation.</p>
            <a href="{% url 'reactivate_subscription' profile.subscription_id %}" class="btn btn-dark custom-btn">Reactivate Subscription</a>
            {% else %}
            <p>Your Portal subscription is active. Your renewal date is on {{ subscription_details.end_date }}.<br>
                On this day your card will be charged £{{ subscription_details.portal_price }}</p>
            <h6 class="header-font">Card Details:</h6>
            <p class="">
                Last 4 digits: {{ default_payment_details.last_4 }}<br>
                Expires: {{ default_payment_details.exp_month }}/{{ default_payment_details.exp_year }}<br>
                <a href="{% url 'update_payment_card' %}" class="btn btn-dark custom-btn mt-3 mr-3">
                    Change Payment Card</a>
                <button type="button" class="btn custom-btn btn-danger btn-sm custom-btn mt-3" data-toggle="modal"
                    data-target="#cancel-subsciption-modal" id="cancel-subsciption">
                    Cancel Subscription
                </button>
            </p>
            <!-- Cancel Subscription Modal -->
            <div class="modal fade" id="cancel-subsciption-modal" tabindex="-1" role="dialog"
                aria-labelledby="cancel-subsciption" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <p class="mb-0">Are you sure you want to cancel your Portal subscription?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn custom-btn btn-sm btn-dark custom-btn"
                                data-dismiss="modal">BACK</button>
                            <a href="{% url 'cancel_subscription' subscription_details.subscription_id %}"
                                class="btn custom-btn btn-sm btn-danger custom-btn">Cancel Subscription</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% else %}
            <!-- User does not have an active subscription -->
            <p>
                You do not currrently have a Portal subscription.<br>
                <a href="{% url 'portal_info' %}">Click here to sign up!</a>
            </p>
            {% endif %}
            {% endif %}
            <hr>
            <h3 class="header-font">Orders</h3>
            {% if orders %}
            <p class="text-muted text-center">Click on an order to see order summary.</p>
            <table class="table table-hover table-responsive-stack">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Total</th>
                        <th scope="col">Order #</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" class="text-decoration-none">
                                <div class="h-100 w-100  text-dark order-date">
                                    {{ order.date }}
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" class="text-decoration-none">
                                <div class="h-100 w-100  text-dark">
                                    £{{ order.grand_total }}
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" class="text-decoration-none">
                                <div class="h-100 w-100  text-dark">
                                    {{ order.order_number|truncatechars:6 }}
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You don't have any previous orders.<br>
                <a href="{% url 'shop' %}">Click here to visit the shop.</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/profiles.js' %}"></script>
<!-- File name renderer modified from Boutique Ado project -->
<script type="text/javascript">
    $("#image").change(function(){
        let file = $(this)[0].files[0];
        $(this).siblings("strong").children("p").first().text(`Image will be set to ${file.name}`);
    });
</script>
<!-- Add 'profile-pic-large' class to image only in profile page file input widget -->
<script type="text/javascript">
$("#profile-pic").addClass('profile-pic-large')
</script>
{% endblock %}