{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container content-container">
    <h1 class="page-header header-font text-center">{{ profile.user.username }}'s Profile</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="header-font">Add or update your delivery details</h3>
            <form action="" method="POST" class="form-border pr-md-3">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn custom-btn btn-dark">Update</button>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <hr class="d-md-none">
            <h3 class="header-font ">Subscriptions</h3>
            {%  if subscription_details %}
            <p>
                Your Portal subscription is active. Your renewal date is on {{ subscription_details.end_date }}.<br>
                On this day your card will be charged £{{ subscription_details.portal_price }}
            </p>
            <h6 class="header-font">Card Details:</h6>
            <p class="clear-font">
                Last 4 digits: {{ default_payment_details.last_4 }}<br>
                Expires: {{ default_payment_details.exp_month }}/{{ default_payment_details.exp_year }}<br>
                <a href="{% url 'update_payment_card' %}" class="btn btn-dark custom-btn mt-3">Update Card Details</a>
            </p>

            {% else %}
            <p>
                You do not currrently have a Portal subscription.<br>
                <a href="{% url 'portal_info' %}">Click here to sign up!</a>
            </p>
            {% endif %}
            <hr>
            <h3 class="header-font">Orders</h3>
            {% if orders %}
            <p class="text-muted text-center">Click on an order to see order summary.</p>
            <table class="table table-hover table-responsive-stack">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Total</th>
                        <th scope="col">Order #</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" class="text-decoration-none">
                                <div class="h-100 w-100 clear-font text-dark order-date">
                                    {{ order.date }}
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" class="text-decoration-none">
                                <div class="h-100 w-100 clear-font text-dark">
                                    £{{ order.grand_total }}
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" class="text-decoration-none">
                                <div class="h-100 w-100 clear-font text-dark">
                                    {{ order.order_number|truncatechars:6 }}
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-center">
                You don't have any previous orders.<br>
                <a href="{% url 'shop' %}">Click here to visit the shop.</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}