{% extends 'base.html' %}
{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block content %}
<div class="container content-container border">
    <h1 class="header-font page-header text-center">Order Confirmed</h1>
    <p class="text-center">Thank you for your order! A confirmation email will be sent to 
            <strong>{{ order.email }}</strong></p>
    <div class="row">
        <div class="col-12 col-md-6 confirmation-page-border">
            <h5 class="header-font">Order Details</h5>
            <p class="clear-font"><strong>Order Number: </strong>{{ order.order_number }}</p>
            <!-- PRODUCT ITEMS -->
            {% for item in order.productlineitems.all %}
            <div class="row mb-3">
                <div class="col-3 pr-0">
                    <img src="{{ item.product.image.url }}" class="w-100" alt="">
                </div>
                <div class="col-9">
                    <h6 class="header-font mb-0">{{ item.product.name }}</h6>
                    {% if item.size %}
                    <p class="clear-font mb-0">Size: {{ item.size }}</p>
                    {% endif %}
                    <p class="clear-font mb-0">Quantity: {{ item.quantity }}</p>
                    <p class="clear-font mb-0">Subtotal: £{{ item.lineitem_total }}</p>
                </div>
            </div>
            {% endfor %}
            <!-- ALBUM ITEMS -->
            {% for item in order.albumlineitems.all %}
            <div class="row mb-3">
                <div class="col-3 pr-0">
                    <img src="{{ item.album.image.url }}" class="w-100" alt="">
                </div>
                <div class="col-9">
                    <h6 class="header-font mb-0">{{ item.album.title }}</h6>
                    <p class="clear-font mb-0">Format: {{ item.format }}</p>
                    <p class="clear-font mb-0">Quantity: {{ item.quantity }}</p>
                    <p class="clear-font mb-0">Subtotal: £{{ item.lineitem_total }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr class="d-md-none">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <h5 class="header-font">Pament Details</h5>
                    <p class="clear-font mb-1">Subtotal: £ {{ order.order_total }}</p>
                    <p class="clear-font mb-2">Delivery: £ {{ order.delivery_cost }}</p>
                    <p class="clear-font font-weight-bold grand-total ml-0">Total: £ {{ order.grand_total }}</p>
                </div>
            </div>
        <hr class="d-md-none">
            <div class="row">
                <div class="col-12 mt-md-3">
                    <h5 class="header-font">Delivery Details</h5>
                    <p class="clear-font">
                        <div class="row mb-1 mb-sm-2">
                            <div class="col-3 clear-font">
                                <strong>Name:</strong>
                            </div>
                            <div class="col-9 clear-font">
                                {{ order.name }}
                            </div>
                        </div>
                        <div class="row my-1 my-sm-2">
                            <div class="col-3 clear-font">
                                <strong>Telephone:</strong>
                            </div>
                            <div class="col-9 clear-font">
                                {{ order.phone_number }}
                            </div>
                        </div>
                        <div class="row my-1 my-sm-2">
                            <div class="col-3 clear-font">
                                <strong>Address: </strong>
                            </div>
                            <div class="col-9 clear-font">
                                {{ order.address_line1 }}<br>
                                {% if order.address_line2 %}
                                    {{ order.address_line2 }}<br>
                                {% endif %}
                                {{ order.town_or_city }}<br>
                                {% if order.county %}
                                    {{ order.county }}<br>
                                {% endif %}
                                {% if order.postcode %}
                                    {{ order.postcode }}<br>
                                {% endif %}
                                {{ order.country }}<br>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mt-md-5">
        <div class="col-12 text-center">
            <a href="{% url 'shop' %}" class="btn btn-dark custom-btn"><i class="fas fa-backward"></i> Back To Shop</a>
        </div>
    </div>
</div>
{% endblock %}