{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block content %}
<div class="container content-container border">
    <!-- LOADING OVERLAY -->
    <div id="loading-overlay" class="text-center">
        <div class="d-flex h-100 text-center flex-column justify-content-center align-items-center">
            <p class="header-font">Please wait...</p>
            <p class="header-font">Loading</p>
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading</span>
            </div>
        </div>
    </div>
    <h1 class="header-font page-header text-center">Checkout</h1>
    <div class="row">
        <div class="col-12 col-md-4">
            <!-- BAG SUMMARY -->
            <h5 class="header-font order-summary-header text-muted pl-md-0">Order Summary</h5>
            {% for item in bag_items %}
            <div class="row mb-3">
                <div class="col-4 pr-0">
                    <img src="{{ item.product.image.url }}" class="w-100" alt="">
                </div>
                <div class="col-8 col-lg-6">
                    {% if item.type == 'album' %}
                    <!-- Albums in bag -->
                    <a href="{% url 'shop_detail' 'album' item.product.slug %}" class="text-dark"
                        title="Click to view item in shop">
                        <h6 class="header-font mb-0">{{ item.product.title }}</h6>
                    </a>
                    {% if item.cd_count %}
                    <p class="m-0">CD: {{ item.cd_count }}</p>
                    {% endif %}
                    {% if item.vinyl_count %}
                    <p class="m-0">Vinyl: {{ item.vinyl_count }}</p>
                    {% endif %}
                    <p class="m-0">Subtotal: £{{ item.item_total }}</p>
                    <!-- Sized items in bag -->
                    {% elif item.type == 'sized' %}
                    <a href="{% url 'shop_detail' 'product' item.product.slug %}" class="text-dark"
                        title="Click to view item in shop">
                        <h6 class="header-font">{{ item.product.name }}</h6>
                    </a>
                    {% if item.small_count %}
                    <p class="m-0">Small: {{item.small_count}}</p>
                    {% endif %}
                    {% if item.medium_count %}
                    <p class="m-0">Medium: {{item.medium_count}}</p>
                    {% endif %}
                    {% if item.large_count %}
                    <p class="m-0">Large: {{item.large_count}}</p>
                    {% endif %}
                    <p class="m-0">Subtotal: £{{ item.item_total }}</p>
                    {% else %}
                    <!-- Other items in bag -->
                    <a href="{% url 'shop_detail' 'product' item.product.slug %}" class="text-dark"
                        title="Click to view item in shop">
                        <h6 class="header-font mb-0">{{ item.product.name }}</h6>
                    </a>
                    <p class="m-0">Quantity: {{ item.quantity }}</p>
                    <p class="m-0">Subtotal: £{{ item.item_total }}</p>
                    {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="row">
                <div class="col-12 checkout-cost-summary text-right text-md-left">
                    <p class="mb-1">Subtotal: £ {{ total }}</p>
                    <p class="mb-1">Delivery: £ {{ delivery_cost }}</p>
                    {% if delivery_shortfall > 0 %}
                    <p class="mb-2 small-text text-danger">Spend another 
                    £{{ delivery_shortfall }} to get free postage</p>
                    {% endif %}
                    <p class=" font-weight-bold grand-total text-left ml-md-0 mb-3">Total: £ {{ grand_total }}</p>
                    <a href="{% url 'view_bag' %}" class="btn btn-dark custom-btn mb-3"><i
                        class="fas fa-backward mr-2"></i>Adjust Bag</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <!-- CHECKOUT FORM -->
            {% if not user.is_authenticated %}
            <p><a href="{% url 'account_login' %}?next={% url 'checkout' %}">Sign in</a> or 
                <a href="{% url 'account_signup' %}?next={% url 'checkout' %}">register</a> to save
                your details for a quicker checkout.</p>
            {% endif %}
            <form action="{% url 'checkout' %}" method="POST" id="payment-form" data-secret="{{ client_secret }}">
                {% csrf_token %}
                <fieldset>
                    <legend class="header-font">Your Details</legend>
                    {{ form.email|as_crispy_field }}
                    {{ form.name|as_crispy_field }}
                    {{ form.phone_number|as_crispy_field }}
                </fieldset>
                <fieldset>
                    <legend class="header-font">Delivery Details</legend>
                    {{ form.address_line1|as_crispy_field }}
                    {{ form.address_line2|as_crispy_field }}
                    {{ form.town_or_city|as_crispy_field }}
                    {{ form.county|as_crispy_field }}
                    {{ form.postcode|as_crispy_field }}
                    {{ form.country|as_crispy_field }}
                    {% if user.is_authenticated %}
                    <label for="save_details" class="d-inline mr-3">Tick box to save delivery details.</label>
                    <input type="checkbox" id="save_details" name="save_details" checked>
                    {% endif %}
                </fieldset>
                <fieldset class="mt-2">
                    <legend class="header-font">Payment Details</legend>
                    <div id="card-element" class="form-control"></div>
                    <p id="card-errors" class="text-danger" role="alert"></p>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <p class="mb-1 mt-3 small-text text-danger">Your card will be charged £{{ grand_total }}</p>
                <button id="card-button" class="btn btn-dark custom-btn">Submit Payment</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}