<!-- Custom Clearable File widget modified from Boutique Ado project-CREDIT - Chris Zielinski -->
<p class="mb-2" id="lead-image-label">Lead Image *</p>
{% if widget.is_initial and widget.value %}
    <a href="{{ widget.value.url }}">
        <img class="mw-100" src="{{ widget.value.url }}" alt="Current Lead Image">
    </a>
    {{ widget.input_text }}
    <div>
        <p class="mb-2 mt-3">Select new image</p>
        <label for="{{ widget.name }}" class="btn btn-dark custom-btn">Choose file</label>
        <input id="{{ widget.name }}" class="hidden-input" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}
            aria-labelledby="lead-image-label">
        <p class="text-muted"><strong id="filename"></strong></p>
    </div>
{% else %}
<div>
    <label for="{{ widget.name }}" class="btn btn-dark custom-btn">Choose file</label>
    <input id="{{ widget.name }}" class="hidden-input" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}
        aria-labelledby="lead-image-label">
    <p class="text-muted"><strong id="filename"></strong></p>
</div>
{% endif %}
