@font-face {
    font-family: 'radio';
    src: url('../fonts/bdplakatt-webfont.woff2') format('woff2'),
        url('../fonts/bdplakatt-webfont.woff') format('woff'),
        url('../fonts/bdplakatt-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'block-font';
    src: url('../fonts/block-font.woff2') format('woff2'),
        url('../fonts/block-font.woff') format('woff'),
        url('../fonts/block-font.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'national-old';
    src: url('../fonts/national_oldstyle_hplhs-webfont.woff2') format('woff2'),
        url('../fonts/national_oldstyle_hplhs-webfont.woff') format('woff'),
        url('../fonts/National-Oldstyle.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'mrs-eaves';
    src: url('../fonts/mrs-eaves.woff2') format('woff2'),
        url('../fonts/mrs-eaves.woff') format('woff'),
        url('../fonts/mrs-eaves.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
} */

/*---------------------------------------------------------------------------------GENERAL--*/
body {
    min-width: 320px;
}

.main-site-bg {
    /* content: ""; */
    /* display: block; */
    position: fixed;
    /* left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("/media_files/main-bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* p {
    font-family: national-old;
    font-size: 1.2rem;
} */

/* p {
    font-family: mrs-eaves;
    font-size: 1.4rem;
} */

p, label, table, span {
    font-family: Oswald, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.3px;
}

label {
    display: block;
    font-family: Oswald, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
}

table {
    font-family: Oswald, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4px;

}

/* label {
    display: block;
    font-family: mrs-eaves;
    font-size: 1.4rem;
} */

.custom-btn {
    font-family: block-font;
    font-size: 0.8rem !important;
    text-transform: uppercase;
    padding: 0 5px 0 5px;
    /* padding-right: 5px; */
}

hr {
    border: 0;
    display: block;
    width: 80%;
    background-color: #0000007a;
    height: 1px;
}

.header-font {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
}

/* . {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.05rem;
    font-size: 1rem;
} */

.page-header {
    font-size: 2rem;
    margin-top: 0.5rem;
}

.nav-font {
    font-family: block-font;
}

.w-95 {
    width: 95%;
}

.content-container {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    /* padding: 0 20px 20px 40px; */
}

.custom-border {
    border: 2px solid #000;
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: #f8f9fae0;
}

.profile-pic-large {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

/* Used to hide file inputs but allow client side validation to still focus on input */
.hidden-input {
    height: 1px;
    display: block;
    position: relative;
    bottom: 10px;
    width: 1px;
    left: 50px;
}

/*---------------------------------------------------------------------------------NAVBAR--*/
nav {
    background-color: #f8f9fae0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

#logo {
    font-size: 0.8rem;
}

#user-icon {
    font-size: 1.4rem;
    position: relative;
    top: 5px;
    cursor: pointer;

}

.navbar-margin {
    margin-top: 50px;
}

/* SHOPPING CART CSS MODIFIED FROM https://codepen.io/ehooks/pen/VgwVJR coded by https://codepen.io/ehooks */
.fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 0%;
    content: attr(data-count);
    font-size: 50%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    background: white;
    border-style: solid;
}

/* Triangle shape credit: Chris Coyier - https://css-tricks.com/the-shapes-of-css/ */
.menu-pointer {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid #6c757d;
    position: fixed;
    top: 45px;
}

.account-pointer {
    right: 153px;
}

.bag-summary-pointer {
    right: 97px;
}

.bagged-items-container {
    max-height: 600px;
    overflow: auto;
    width: 100%;
    /* Box shadow code generated at https://cssgenerator.org/box-shadow-css-generator.html */
    box-shadow: 0px 0px 5px 0px #6c757d inset;
    -webkit-box-shadow: 0px 0px 5px 0px #6c757d inset;
    -moz-box-shadow: 0px 0px 5px 0px #6c757d inset;
}

.custom-nav-dropdown {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #f8f9fa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 999;
    position: fixed;
    top: 56px;
    font-family: block-font;
    border: 1px solid #6c757d;
}

.bag-summary {
    max-height: 80vh;
    max-width: 400px;
    min-width: 300px;
    right: 0;
}

#account-dropdown {
    right: 65px;
}

#account-dropdown ul li {
    list-style: none;
}

/*---------------------------------------------------------------------------------BAG APP--*/
.grand-total {
    border-top: 2px solid #212529;
    border-bottom: 2px solid #212529;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
}

.bag-image {
    width: 50%;
}

.small-text {
    font-size: 0.8rem !important;
    font-weight: 600;
}

/*---------------------------------------------------------------------------------LIVE APP--*/
.live-image-container img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#map {
    width: 100%;
    height: 300px;
}


/*---------------------------------------------------------------------------------FOOTER--*/
.follow-us {
    font-size: 1.2rem;
}

.social-links-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 10px 0;
    margin-top: 15px;
    background-color: #f8f9fab0;
}

.social-links,
.icons {
    font-size: 1.2rem;
}

/*---------------------------------------------------------------------------------TOASTS--*/
.custom-toast {
    position: absolute;
    right: 0;
    background-color: #f8f9fa;
    width: 300px;
    opacity: 1;
    z-index: 9999;
}

.success-toast-highlight {
    border-top: 2px solid green;
}

.error-toast-highlight {
    border-top: 2px solid red;
}

.warning-toast-highlight {
    border-top: 2px solid orange;
}

.info-toast-highlight {
    border-top: 2px solid blue;
}

/*---------------------------------------------------------------------------------ADD COMMENT SECTIONS--*/
.comment-container {
    background-color: #e6e6e6;
    border-radius: 10px;
}

.comment-container p {
    font-size: 1rem;
}

.profile-pic {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

#add-comment-input,
#edit-comment-input {
    width: 100%;
    height: 60px;
}

#delete-confirmation,
.comment-permissions {
    font-size: 0.8rem;
}

.comment-permissions {
    /* font-size: 0.8rem; */
    text-transform: lowercase;
    cursor: pointer;
    color: #007BFF;
    text-decoration: none;
}

.comment-permissions:hover {
    color: #0056b3;
    text-decoration: underline;

}

/*---------------------------------------------------------------------------------MEDIA QUERIES--*/
@media only screen and (min-width: 400px) {
    #logo {
        font-size: 1.4rem;
    }

    .bag-summary,
    #account-dropdown {
        top: 59px;
    }

    .menu-pointer {
        border-bottom: 13px solid #6c757d;
        top: 47px;
    }

    .profile-pic {
        height: 50px;
        width: 50px;
        float: right;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 576px) {
    .content-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #logo {
        font-size: 1.7rem;
    }

    .navbar-margin {
        margin-top: 67px;
    }

    .bag-image {
        width: 100%;
    }

    .bag-summary {
        right: 80px;
    }

    .bag-summary,
    #account-dropdown {
        top: 66px;
    }

    .menu-pointer {
        border-bottom: 17px solid #6c757d;
        top: 50px;
    }

    .page-header {
        font-size: 3rem;
    }

    .social-links,
    .icons {
        font-size: 2rem;
    }

    .social-links i {
        padding: 0 10px;
    }

    .profile-pic {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    .content-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .page-header {
        font-size: 4rem;
    }

    #account-dropdown {
        right: 85px;
    }

    .account-pointer {
        right: 185px;
    }

    .bag-summary-pointer {
        right: 113px;
    }

    .social-links i {
        padding: 0 20px;
    }

    .form-border {
        border-bottom: none;
        border-right: 1px solid #000;
    }

    .profile-pic {
        margin: 0;
    }

    #add-comment-input,
    #edit-comment-input {
        height: 80px;
    }

    .comment-container p {
        font-size: 1.2rem;
    }

    #delete-confirmation,
    .comment-permissions {
        font-size: 1rem;
    }

    .custom-btn {
        font-size: 0.9rem !important;
    }
}

@media only screen and (min-width: 992px) {
    .content-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .page-header {
        font-size: 5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .bag-summary {
        left: 0px;
        min-width: 368px;
    }

    .bag-summary-pointer {
        left: 350px;
    }

    #account-dropdown {
        left: 180px;
    }

    .account-pointer {
        left: 278px;
    }
}