{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container content-container border">
    <div class="row">
        <div class="col-12">
            <h1 class="header-font page-header text-center">Event Info</h1>
            <a href="{% url 'live' 1 %}" class="d-block mb-2 mb-md-3"><i class="fas fa-backward"></i> Back to listings</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <!-- <h3 class="header-font">Event Info</h3> -->
            <p class="clear-font"><strong>Performing: </strong>{{ event_details.artists }}</p>
            <p class="clear-font"><strong>Start Time: </strong>{{ event_details.event_time }}</p>
            <p class="clear-font"><strong>Venue: </strong>{{ event_details.venue_name }}</p>
            <p class="clear-font"><strong>City: </strong>{{ event_details.city }}</p>
            <a href="{{ event_details.event_url }}" class="btn btn-large custom-btn btn-success p-2">Find Tickets</a>
        </div>
        <div class="col-12 col-md-6"></div>
    </div>
</div> 

{{ event_info }}
{% endblock %}

<!-- 
'venue_name': all_details['venue']['displayName'],
'city': all_details['location']['city'],
'event_url': all_details['uri'],
'event_time': all_details['start']['time'] -->