.sort-by-form label{
    font-family: block-font, 'Arial Black', sans-serif;
    font-size: 0.6rem;
}
.product-links a:hover {
    color: initial;
}

#tracklist i {
    position: relative;
    top: 3px;
    font-size: 1.5rem;
}

/*---------------------------------------------------------------------------------MEDIA QUERIES--*/
@media only screen and (min-width: 576px) {
    .sort-by-form label{
        font-size: 0.8rem;
    }
}