.sort-by-form label{
    font-family: block-font;
    font-size: 0.6rem;
}
.product-links a:hover {
    color: initial;
}

#tracklist i {
    position: relative;
    top: 3px;
    font-size: 1.5rem;
}
/* .shop-label {
    display: block;
    font-family: national-old;
    font-size: 1.2rem;
} */

/*---------------------------------------------------------------------------------MEDIA QUERIES--*/
@media only screen and (min-width: 576px) {
    .sort-by-form label{
        font-size: 0.8rem;
    }
}