{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container content-container">
    <h1 class="text-center header-font page-header">Add {{ item_type }}</h1>
    <a href="{% url 'shop' %}" class="my-3 d-block"><i class="fas fa-backward"></i> Back to Shop</a>
    <div class="row">
        <div class="col-12 col-lg-6">
            <form action="{% url 'add_product' item_type %}" enctype="multipart/form-data" method="POST" 
                {% if item_type == 'album' %} id="add-album-form"{% endif %}>
                {% csrf_token %}
                {{ form|crispy }}
                {% if item_type == 'album' %}
                <!-- Default JSON field form widget replaced with these inputs to make more user friendly. -->
                <p class="mb-2">Tracklist *</p>
                <div id="tracklist">
                    <label for="track_1" class="sr-only">Track 1</label>
                    <input type="text" id="track_1" class="w-75 mb-1 add-track-input" placeholder="Enter track 1" required>
                    <i class="fas fa-plus-circle ml-1 pointer " title="Click to add another track" onclick="renderNewInput(2)"></i>
                </div>
                {% endif %}
                <button type="submit" id="submit-album" class="btn btn-dark custom-btn d-block mt-5 ">Add {{ item_type }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'shop/js/shop.js' %}"></script>
{% endblock %}