{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="container content-container border">
    <h1 class="text-center header-font page-header">{{ product.name }}</h1>
    <a href="{% url 'shop' %}"><i class="fas fa-backward"></i> Back to shop</a>
    <div class="row mt-2">
        <div class="col-12 col-lg-6">
            <img src="{{ MEDIA_URL }}{{ product.image.url }}" alt="A picture of the {{ product.name }}"
                class="w-100 mx-auto">
        </div>
        <div class="col-12 col-lg-6">
            <p>{{ product.description }}</p>
            <p>£{{ product.price }}</p>
            <form action="">
                {% if product.has_sizes %}
                <p class="mb-1 mt-2 mt-lg-0">Size:</p>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                    <option value="" selected>Please choose a size</option>
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                </select>
                {% endif %}
                <p class="mb-1 mt-2 mt-lg-0">Quantity:</p>
                <input type="number" name="quantity" id="quantity" value="1" min="1" max="99">
                <button type="submit" class="btn btn-dark d-block my-4">ADD TO BASKET</button>
            </form>
            <hr>
        </div>
    </div>


</div>
{% endblock %}