{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
{% endblock %}
{% block content%}
<div class="container content-container border">
    <h1 class="text-center header-font page-header">{{ product.name }}</h1>
    <a href="{% url 'shop' %}"><i class="fas fa-backward"></i> Back to shop</a>
    {% if user.is_staff %}
    <div class="row">
        <div class="col-12 custom-border p-2 my-3">
            <h6 class="header-font text-center">Would you like to edit or delete this product?</h6>
            <div class="d-flex justify-content-center">
                <a href="{% url 'edit_product' 'product' product.slug %}" class="btn btn-dark custom-btn mr-2">
                    Edit Product</a>
                <!-- Modal copied from https://getbootstrap.com/docs/4.5/components/modal/ -->
                <!-- Delete product modal trigger -->
                <button type="button" class="btn custom-btn btn-danger btn-sm custom-btn ml-2" data-toggle="modal"
                    data-target="#delete-product-modal">
                    Delete Product
                </button>
            </div>
        </div>
    </div>
    <!-- Delete Product Modal -->
    <div class="modal fade" id="delete-product-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p class="mb-0">Are you sure you want to delete<br>
                        <strong>{{ product.name }}</strong><br>
                        from the database? This action cannot be undone!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn custom-btn btn-sm btn-dark custom-btn"
                        data-dismiss="modal">BACK</button>
                    <a href="{% url 'delete_product' 'product' product.slug %}"
                        class="btn custom-btn btn-sm btn-danger custom-btn">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mt-2">
        <div class="col-12 col-lg-6">
            <img src="{{ product.image.url }}" alt="A picture of the {{ product.name }}" class="w-100 mx-auto">
        </div>
        <div class="col-12 col-lg-6">
            <p>{{ product.description }}</p>
            <p>£{{ product.price }}</p>
            <form action="{% url 'add_to_bag' product.slug %}" method="POST">
                {% csrf_token %}
                {% if product.has_sizes %}
                <label for="size" class="shop-label mt-3 mt-lg-0">Choose:</label>
                <select id="size" name="size" class="form-select form-select-lg mb-3"
                    aria-label=".form-select-lg example" required>
                    <option value="" selected>Please choose a size</option>
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                </select>
                {% endif %}
                <label for="quantity" class="shop-label">Quantity:</label>
                <input type="number" name="quantity" id="quantity" value="1" min="1" max="99">
                <button type="submit" class="btn custom-btn btn-dark d-block my-4">ADD TO BASKET</button>
            </form>
            <hr>
        </div>
    </div>
</div>
{% endblock %}