{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="container content-container border">
    <h1 class="text-center header-font page-header">SHOP</h1>
    <p class="text-center text-muted">Free delivery on orders over £25</p>
    <hr>
    <div class="row">
        {% for album in albums %}
        <div class="col-12 col-md-6 col-lg-4">
            <a href="{% url 'shop_detail' 'album' album.id %}">
                <img src="{{ MEDIA_URL }}{{ album.image.url }}" alt="The artwork for the album {{ album.title }}"
                    class="w-95">
                <h6 class="album-names text-center">{{ album.title }} ({{ album.year }})</h6>
                <p class="text-muted text-center">from £{{ album.cd_price}}</p>
            </a>
        </div>

        <!-- HR FOR LOOP LOGIC MODIFIED FROM BOUTIQUE ADO PROJECT - CREDIT -->
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-md-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-md-block d-lg-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block mb-5">
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}