{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">

{% endblock %}

{% block content%}
<div class="container content-container border">
    <h1 class="text-center header-font page-header">SHOP</h1>
    <p class="text-center text-muted">Free delivery on orders over £25</p>
    <hr>
    {% if user.is_staff %}
    <div class="row">
        <div class="col-12 custom-border p-2 mb-5">
            <h5 class="header-font text-center">Admin</h5>
            <p class="text-center">Click on an album or product to edit or delete.</p>
            <div class="d-flex justify-content-center">
                <a href="{% url 'add_product' 'album' %}" class="btn custom-btn btn-outline-dark mr-2 my-2">Add
                    album</a>
                <a href="{% url 'add_product' 'product' %}" class="btn custom-btn btn-outline-dark ml-2 my-2">Add
                    product</a>
            </div>
        </div>
    </div>
    {% endif %}
    <form action="{% url 'shop' %}" method="POST" class="d-flex justify-content-center sort-by-form mb-3 mt-2">
        {% csrf_token %}
        <input type="submit" id="all" name="filter" value="all" class="btn custom-btn btn-outline-dark {% if filter == 'all' %} active {% endif %}">
        <input type="submit" id="music" name="filter" value="music" class="btn custom-btn btn-outline-dark {% if filter == 'music' %} active {% endif %}">
        <input type="submit" id="clothing" name="filter" value="clothing" class="btn custom-btn btn-outline-dark {% if filter == 'clothing' %} active {% endif %}">
        <input type="submit" id="other" name="filter" value="other" class="btn custom-btn btn-outline-dark {% if filter == 'other' %} active {% endif %}">
    </form>
    <div class="row">
        {% for item in items %}
        {% if item.title %}
        <!-- Item is an album -->
        <div class="col-12 col-sm-6 col-lg-4 product-links">
            <a href="{% url 'shop_detail' 'album' item.slug %}" class="d-flex flex-column">
                <img src="{{ item.image.url }}" alt="The artwork for the album {{ item.title }}"
                    class="w-95 d-block mx-auto">
                <p class="text-dark album-names text-center mb-1 mt-2">{{ item.title }} ({{ item.year }})</p>
                <p class="text-muted text-center mb-0">from £{{ item.cd_price}}</p>
            </a>
        </div>
        {% elif item.name %}
        <!-- Item is a product -->
        <div class="col-12 col-sm-6 col-lg-4 product-links">
            <a href="{% url 'shop_detail' 'product' item.slug %}" class="d-flex flex-column h-100">
                <img src="{{ item.image.url }}" alt="A picture of the {{ item.name }}" class="w-95 d-block mx-auto">
                <p class="album-names text-dark text-center mb-1 mt-2">{{ item.name }}</p>
                <p class="text-muted text-center mb-0 mt-auto">£{{ item.price}}</p>
            </a>
        </div>
        {% endif %}
        <!-- HR FOR LOOP LOGIC MODIFIED FROM BOUTIQUE ADO PROJECT - CREDIT -->
        {% if not forloop.last %}
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-2">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-lg-none mb-3">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block mb-5">
            <hr>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <!-- PAGINATION BUTTONS -->
    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
            <form action="{% url 'shop' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name='filter' value="{{ filter }}">
                {% if pagination_data.has_previous %}
                <button type='submit' value="{{ pagination_data.previous_page }}" name="paginate"
                    class="btn custom-btn btn-outline-secondary">Previous</button>
                {% else %}
                <button class="btn custom-btn btn-outline-secondary" disabled>Previous</button>
                {% endif %}
                {% if pagination_data.has_next %}
                <button type='submit' value="{{ pagination_data.next_page }}" name="paginate"
                    class="btn custom-btn btn-outline-secondary">Next</button>
                {% else %}
                <button class="btn custom-btn btn-outline-secondary" disabled>Next</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'shop/js/shop.js' %}"></script>
{% endblock %}