{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">

{% endblock %}

{% block content%}
<div class="container content-container border">
    <h1 class="text-center header-font page-header">SHOP</h1>
    <p class="text-center text-muted">Free delivery on orders over £25</p>
    <hr>
    <form action="{% url 'shop' %}" method="POST" class="d-flex justify-content-center sort-by-form mb-3 mt-2">
        {% csrf_token %}
        <input type="radio" id="all" name="filter" value="all" class="d-none">
        <label for="all" class="btn custom-btn btn-outline-dark {% if all %} active {% endif %}">ALL</label><br>
        <input type="radio" id="music" name="filter" value="music" class="d-none">
        <label for="music" class="btn custom-btn btn-outline-dark {% if music %} active {% endif %}">MUSIC</label><br>
        <input type="radio" id="clothing" name="filter" value="clothing" class="d-none">
        <label for="clothing" class="btn custom-btn btn-outline-dark {% if clothing %} active {% endif %}">CLOTHING</label><br>
        <input type="radio" id="other" name="filter" value="other" class="d-none">
        <label for="other" class="btn custom-btn btn-outline-dark {% if other %} active {% endif %}">OTHER</label><br>
    </form>
    <div class="row">
        {% for item in items %}
        {% if item.title %}  <!-- Item is an album -->
        <div class="col-12 col-sm-6 col-lg-4 product-links">
            <a href="{% url 'shop_detail' 'album' item.id %}" class="d-flex flex-column">
                <img src="{{ MEDIA_URL }}{{ item.image.url }}" alt="The artwork for the album {{ item.title }}"
                    class="w-95 d-block mx-auto">
                <p class="text-dark album-names text-center mb-1 mt-2">{{ item.title }} ({{ item.year }})</p>
                <p class="text-muted text-center mb-0">from £{{ item.cd_price}}</p>
            </a>
        </div>
        {% elif item.name %} <!-- Item is a product -->
        <div class="col-12 col-sm-6 col-lg-4 product-links">
            <a href="{% url 'shop_detail' 'product' item.id %}" class="d-flex flex-column h-100">
                <img src="{{ MEDIA_URL }}{{ item.image.url }}" alt="A picture of the {{ item.name }}"
                    class="w-95 d-block mx-auto">
                <p class="album-names text-dark text-center mb-1 mt-2">{{ item.name }}</p>
                <p class="text-muted text-center mb-0 mt-auto">£{{ item.price}}</p>
            </a>
        </div>
        {% endif %}
        <!-- HR FOR LOOP LOGIC MODIFIED FROM BOUTIQUE ADO PROJECT - CREDIT -->
        {% if not forloop.last %}
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-2">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-lg-none mb-3">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block mb-5">
            <hr>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'shop/js/shop.js' %}"></script>
{% endblock %}