.order-summary-header {
    line-height: inherit;
}

.order-confirmation-p {
    border: 1px solid #212529;
    border-radius: 10px;
    padding: 5px;
    background-color: #e6e6e6;
}

@media only screen and (min-width: 768px) {
    .confirmation-page-border {
        border-right: 1px solid #212529;
    }
}
