.album-names, .single-names {
    font-family: Righteous, Copperplate, sans-serif;
    font-size: 1.2rem;
}

.album-shop-link {
    position: sticky;
    bottom: 10px;

}

.album-shop-link div {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
}

.shop-spotify-links i, .shop-spotify-links p {
    font-size: 1rem;
    color: #212529;
}

@media only screen and (min-width: 768px) {
    .shop-spotify-links i, .shop-spotify-links p {
        font-size: 1.2rem;
    }
}